#include "resource.h"
#include "targetver.h"
#include "windows.h"

LANGUAGE 25,1

IDD_TAB DIALOGEX 0,0,612,405
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_CHILD|WS_VISIBLE|WS_BORDER|WS_SYSMENU|DS_SETFONT|DS_FIXEDSYS
EXSTYLE WS_EX_TRANSPARENT
BEGIN
  CONTROL "",IDC_TAB_INFO,"SysTabControl32",WS_VISIBLE|TCS_FIXEDWIDTH,7,37,217,186
  CONTROL "",IDC_TAB_CHAT,"SysTabControl32",WS_VISIBLE|TCS_FIXEDWIDTH,7,225,217,133
  CONTROL "",IDC_PR_HP,"msctls_progress32",WS_VISIBLE|WS_BORDER,162,2,80,10
  CONTROL "{Char_name}",IDC_ST_CHAR_NAME,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,2,133,8
  CONTROL "HP",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,146,2,10,8
  CONTROL "",IDC_PR_MP,"msctls_progress32",WS_VISIBLE|WS_BORDER,264,2,80,10
  CONTROL "MP",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,248,2,10,8
  CONTROL "",IDC_PR_CP,"msctls_progress32",WS_VISIBLE|WS_BORDER,367,2,80,10
  CONTROL "CP",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,351,2,10,8
  CONTROL "Бот вкл.",IDC_C_BOTENABLE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,7,24,42,10
  CONTROL "Драццо!",IDC_C_BOTCOMBATENABLE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,49,24,40,10
  CONTROL "Мобы",IDC_C_MAPSHOWMOBS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,257,355,35,10
  CONTROL "НПЦ",IDC_C_MAPSHOWNPCS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,295,355,31,10
  CONTROL "Чары",IDC_C_MAPSHOWPCS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,327,355,34,10
  CONTROL "Предметы",IDC_C_MAPSHOWITEMS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,364,355,51,10
  CONTROL "Зона боя",IDC_C_MAPSHOWZONE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,476,355,43,10
  CONTROL "dZ:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,524,356,12,8
  CONTROL "",IDC_E_MAPSHOWDZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,542,353,40,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_E_CHAT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,7,362,172,12,WS_EX_CLIENTEDGE
  CONTROL "Сказать",IDC_B_SAY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,183,361,38,14
  CONTROL "Соединение",IDC_B_SYSTEM,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,120,16,48,14
  CONTROL "Закрыть акк",IDC_B_CLOSETAB,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,550,16,50,15
  CONTROL "Конфиг",IDC_B_CONFIG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,173,16,35,14
  CONTROL "",IDC_PR_WEIGHT,"msctls_progress32",WS_VISIBLE|WS_BORDER,479,2,80,10
  CONTROL "Вес",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,456,2,12,8
  CONTROL "",IDC_SLI_SCALE,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_TOOLTIPS|TBS_BOTH|TBS_VERT|TBS_AUTOTICKS,228,49,20,301
  CONTROL "Скрипт",IDC_B_SCRIPT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,213,16,32,14
#ifdef _DEBUG
  CONTROL "Debug",IDC_B_DEBUG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,566,1,32,11
#endif
  CONTROL "",IDC_PR_TARGETHP,"msctls_progress32",WS_VISIBLE|WS_BORDER,367,17,80,10
  CONTROL "Targ.HP",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,334,17,27,8
  CONTROL "{targetName}",IDC_ST_TARGETNAME,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,251,17,77,8
  CONTROL "",IDC_MAPAREA,"Static",WS_VISIBLE|SS_NOTIFY|SS_BLACKFRAME,252,49,326,300
  CONTROL "X",IDC_B_CANCELTARGET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,486,16,14,12
  CONTROL "Векторы",IDC_C_MAPSHOWVECTORS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,415,355,43,10
  CONTROL "FA",IDC_B_ATTACKTARGET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,470,16,14,12
  CONTROL "",IDC_PR_CASTING,"msctls_progress32",WS_VISIBLE|WS_BORDER,266,36,80,7
  CONTROL "Sit/Stand",IDC_B_SITSTAND,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,358,33,40,12
  CONTROL "Run/Walk",IDC_B_RUNWALK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,403,33,40,12
  CONTROL "Stand, Run",IDC_ST_WAITTYPE,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,449,35,43,8
  CONTROL "",IDC_PR_EXP,"msctls_progress32",WS_VISIBLE|WS_BORDER,40,14,74,6
  CONTROL "Exp:",IDC_ST_EXP,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,13,29,8
  CONTROL "Карта",IDC_C_MAPSHOWMAP,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,257,367,33,10
  CONTROL "A",IDC_B_ACTIONTARGET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,453,16,14,12
  CONTROL "Действия",IDC_B_ACTIONS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,508,16,40,15
  CONTROL "Продавцы",IDC_C_MAPSHOWSELL,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,306,367,52,11
  CONTROL "Покупатели",IDC_C_MAPSHOWBUY,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,360,367,52,11
  CONTROL "Крафтеры",IDC_C_MAPSHOWCRAFT,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,414,367,52,11
  CONTROL "+",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,236,36,8,8
  CONTROL "-",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,236,356,8,8
END
