#include <windows.h>
#include "resource.h"

// menu
IDC_L2OOGHELPER MENU
BEGIN
  POPUP "Lineage"
  BEGIN
    MENUITEM "Подключиться",IDM_LINEAGE_ADD_ACC
    MENUITEM SEPARATOR
    MENUITEM "В&ыход",IDM_EXIT
  END
  POPUP "Справка"
  BEGIN
    MENUITEM "О программе ...",IDM_ABOUT
  END
#ifdef _DEBUG
  POPUP "Debug"
  BEGIN
    MENUITEM "Enable console",ID_DEBUG_ENABLECON
    MENUITEM "Disable console",ID_DEBUG_DISABLECON
    MENUITEM SEPARATOR
    POPUP "Log level"
    BEGIN
      MENUITEM "OK",ID_LOGLEVEL_OK
      MENUITEM "ERROR",ID_LOGLEVEL_ERROR
      MENUITEM "WARN",ID_LOGLEVEL_WARN
      MENUITEM "USERAI",ID_LOGLEVEL_USERAI
      MENUITEM "PACKETNAME",ID_LOGLEVEL_PACKETNAME
      MENUITEM "DEBUG",ID_LOGLEVEL_DEBUG
      MENUITEM "DEBUGDUMP",ID_LOGLEVEL_DEBUGDUMP
    END
  END
#endif
END
