#include <windows.h>
#define IDC_STATIC -1
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
1 RT_MANIFEST "res\\xp_manifest.xml"


//////////////////////////////////////////////////////////////////////////
//
// DIALOG
//
IDD_START DIALOGEX 0,0,316,65
CAPTION "L2Detect: Choose Mode"
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
BEGIN
  CONTROL "IN-GAME",IDC_INGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,30,12,118,24
  CONTROL "OUT-GAME",IDC_OUTGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,170,12,118,24
  CONTROL "( test )",IDC_B_TEST,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,258,48,36,11
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,6,0,0
 PRODUCTVERSION 0,6,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904e3"
        BEGIN
            VALUE "Comments", "L2Detect starter app"
            VALUE "CompanyName", "Lexx Soft"
            VALUE "FileDescription", "L2Detect starter app"
            VALUE "FileVersion", "0.6.0.0"
            VALUE "InternalName", "L2_DLL_Inject.exe"
            VALUE "LegalCopyright", "(c) Lexx Soft. Все права нихера не защищены."
            VALUE "OriginalFilename", "L2_DLL_Inject.exe"
            VALUE "ProductName", "L2Detect"
            VALUE "ProductVersion", "0.6.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1251
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_L2                  ICON                    "res\\L2_c.ico"
