Iself_heal_sit_hp=20
Iself_heal_sit_mp=20
Iself_heal_stand_hp=90
Iself_heal_stand_mp=90
Iself_heal_sit_hp_enable=1
Iself_heal_sit_mp_enable=1
Iself_heal_stand_hp_enable=1
Iself_heal_stand_mp_enable=1
Iparty_loot=1
Iparty_auto_accept_enable=1
Sparty_auto_accept_names=Lanard;Alexxia
Iparty_auto_invite_enable=0
Sparty_auto_invite_names=
Ifollow_enable=1
Sfollow_name=Alexxia
Ifollow_dist=80
Iparty_assist_enable=0
Iself_heal_use_item_nConds=3
Iself_heal_use_item_[0]_id=1539
Sself_heal_use_item_[0]_hp_cond=le
Iself_heal_use_item_[0]_hp=80
Sself_heal_use_item_[0]_mp_cond=ge
Iself_heal_use_item_[0]_mp=0
Sself_heal_use_item_[0]_cp_cond=ge
Iself_heal_use_item_[0]_cp=0
Iself_heal_use_item_[0]_delayms=5000
Iself_heal_use_item_[1]_id=1061
Sself_heal_use_item_[1]_hp_cond=le
Iself_heal_use_item_[1]_hp=98
Sself_heal_use_item_[1]_mp_cond=le
Iself_heal_use_item_[1]_mp=100
Sself_heal_use_item_[1]_cp_cond=ge
Iself_heal_use_item_[1]_cp=0
Iself_heal_use_item_[1]_delayms=5000
Iai_model=4
Iself_heal_use_skill_nConds=3
Iself_heal_use_skill_[0]_id=1401
Sself_heal_use_skill_[0]_hp_cond=le
Iself_heal_use_skill_[0]_hp=60
Sself_heal_use_skill_[0]_mp_cond=ge
Iself_heal_use_skill_[0]_mp=10
Sself_heal_use_skill_[0]_cp_cond=ge
Iself_heal_use_skill_[0]_cp=0
Iself_heal_use_skill_[0]_delayms=500
Iself_heal_use_skill_[1]_id=1015
Sself_heal_use_skill_[1]_hp_cond=le
Iself_heal_use_skill_[1]_hp=40
Sself_heal_use_skill_[1]_mp_cond=ge
Iself_heal_use_skill_[1]_mp=0
Sself_heal_use_skill_[1]_cp_cond=ge
Iself_heal_use_skill_[1]_cp=0
Iself_heal_use_skill_[1]_delayms=500
Iself_heal_use_item_[2]_id=5592
Sself_heal_use_item_[2]_hp_cond=gt
Iself_heal_use_item_[2]_hp=0
Sself_heal_use_item_[2]_mp_cond=ge
Iself_heal_use_item_[2]_mp=0
Sself_heal_use_item_[2]_cp_cond=le
Iself_heal_use_item_[2]_cp=80
Iself_heal_use_item_[2]_delayms=1000
Iself_heal_use_skill_[2]_id=1011
Sself_heal_use_skill_[2]_hp_cond=lt
Iself_heal_use_skill_[2]_hp=80
Sself_heal_use_skill_[2]_mp_cond=ge
Iself_heal_use_skill_[2]_mp=0
Sself_heal_use_skill_[2]_cp_cond=ge
Iself_heal_use_skill_[2]_cp=0
Iself_heal_use_skill_[2]_delayms=0
