Iself_heal_sit_hp=40
Iself_heal_sit_mp=10
Iself_heal_stand_hp=90
Iself_heal_stand_mp=50
Iself_heal_sit_hp_enable=1
Iself_heal_sit_mp_enable=1
Iself_heal_stand_hp_enable=1
Iself_heal_stand_mp_enable=1
Iparty_loot=1
Iparty_auto_accept_enable=1
Sparty_auto_accept_names=EPLLI
Iparty_auto_invite_enable=1
Sparty_auto_invite_names=Invocation
Ifollow_enable=1
Sfollow_name=EPLLI
Ifollow_dist=400
Iparty_assist_enable=0
