#include "resource.h"
#include "targetver.h"
#include <windows.h>
#define IDC_STATIC -1

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,4,0,0
 PRODUCTVERSION 0,4,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904e3"
        BEGIN
            VALUE "Commets", "L2Detect DLL"
            VALUE "CompanyName", "Lexx Soft"
            VALUE "FileDescription", "L2Detect DLL"
            VALUE "FileVersion", "0.4.0.0"
            VALUE "InternalName", "L2Detect.dll"
            VALUE "LegalCopyright", "(c) Lexx Soft. Все права нихера не защищены."
            VALUE "OriginalFilename", "L2Detect.dll"
            VALUE "ProductName", "L2Detect"
            VALUE "ProductVersion", "0.4.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1251
    END
END
